<h1>Laboratorium 3</h1>
<section>
  <article class="chartArticle">
    <div class="chartBox">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <div class="chartBox">
      <canvas id="canvas2">{{ chart2 }}</canvas>
    </div>
  </article>
  <article class="buttonArticle">
    <div class="buttonBox">
      <app-run-button
        [isActive]="StartButton"
        [titleButton]="buttonName[0]"
        (click)="start()"
      />
      <app-run-button
        [isActive]="RestartButton"
        [titleButton]="buttonName[1]"
        (click)="restart()"
      />
      <app-run-button
        [isActive]="StopButton"
        [titleButton]="buttonName[2]"
        (click)="stop()"
      />
    </div>
  </article>
  <article class="descriptionArticle">
    <p>Natężenie przepływu możemy określić na kilka sposobów.</p>
    <ul>
      <li>Q1 odczytane z miernika przy stanowisku: 12.5</li>
      <li>
        Q4 obliczone jako wymnożona prędkość, powierzchnia przekroju rury, oraz
        czas: 12
      </li>
    </ul>
    <p>
      Ustalając Q2 = Q1 obliczyliśmy prędkość obrotową [obr/min] poprzez
      podzielenie natężenia przepływu przez ilość płynu przepchniętego na jeden
      obrót i otrzymaliśmy 1250
    </p>
  </article>
</section>
