<h1>Laboratorium 2</h1>
<section>
  <article class="chartArticle">
    <div class="chartBox">
      <canvas id="canvas">{{ chart }}</canvas>
    </div>
    <div class="chartBox">
      <canvas id="canvas2">{{ chart2 }}</canvas>
    </div>
    <div class="chartBox">
      <canvas id="canvas3">{{ chart3 }}</canvas>
    </div>
    <div class="buttonBox"></div>
  </article>
  <article class="buttonArticle">
    <div class="buttonBox">
      <app-run-button
        [isActive]="StartButton"
        [titleButton]="buttonName[0]"
        (click)="start()"
      />
      <app-run-button
        [isActive]="RestartButton"
        [titleButton]="buttonName[1]"
        (click)="restart()"
      />
      <app-run-button
        [isActive]="StopButton"
        [titleButton]="buttonName[2]"
        (click)="stop()"
      />
    </div>
  </article>
  <article class="descriptionArticle">
    <p>
      Wykresy kolejno przedstawiają przemieszczenie i prędkość. Przemieszczenie
      otrzymujemy z analogowego czujnika przemieszczenia, którego sygnał został
      przetworzony na postać cyfrową. Prędkość i przyspieszenie otrzymujemy
      poprzez obliczenie pochodnej przemieszczenia.
    </p>
  </article>
</section>
