<section>
  <h2>Specyfikacja czujnika</h2>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <h3>Dolna granica</h3>
    <h3>Górna granica</h3>
    <div>
      <input
        type="number"
        id="VDown"
        formControlName="VDown"
        required
        value="0"
      />
      <label for="VDown">[{{ formName[0] }}]</label>
    </div>
    <div>
      <input
        type="number"
        id="DDown"
        formControlName="DDown"
        required
        value="0"
      />
      <label for="DDown">[{{ formName[0] }}]</label>
    </div>
    <div>
      <input type="number" id="VUp" formControlName="VUp" required value="0" />
      <label for="VUp">[{{ formName[1] }}]</label>
    </div>
    <div>
      <input type="number" id="DUp" formControlName="DUp" required value="0" />
      <label for="DUp">[{{ formName[1] }}]</label>
    </div>

    <button type="submit">Wyślij</button>
  </form>
  <section class="switchToggle">
    <h4>{{ shwitchToogleTittle }}</h4>
    <label class="switch" for="toggle">
      <input
        type="checkbox"
        id="toggle"
        name="toggle"
        checked
        (change)="onChange($event)"
      />
      <span
        class="switchToggleRound"
        [ngClass]="{ active: !shwitchToogle }"
      ></span>
    </label>
  </section>
</section>
